@model Breeze.Models.Game

<html>
<head>
    <title>Game Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
    @Html.DropDownList("CommentId")
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>